.project-card {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  flex-wrap: nowrap;
  margin-top: 50px;
   animation: fadeUp 0.8s ease forwards;
   transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.2);
}
.project-image {
  height: 250px;
  background-size: cover;
  transition: transform 0.6s ease;
  background-position: center;
  position: relative;
  background-image: url('../assets/coffee.jpg');
}
.project-image:hover .project-overlay {
  opacity: 1;
  transform: scale(1.12);
}
.project-image1 {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('../assets/restro.jpg');
}
.project-image1:hover .project-overlay {
  opacity: 1;
  transform: scale(1.12);
}
.project-image2 {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('../assets/clothes.jpg');
}
.project-image2:hover .project-overlay {
  opacity: 1;
  transform: scale(1.12);
}
.project-image3 {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('../assets/book.jpg');
}
.project-image3:hover .project-overlay {
  opacity: 1;
  transform: scale(1.12);
   

}
.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: 0.4s ease;
  text-align: center;
  
  transform: translateY(90px);
  
}

.project-overlay h4 {
  font-size: 22px;
  margin-bottom: 6px;
}
.project-overlay p {
  font-size: 14px;
  margin-bottom: 10px;
}
.github-icon {
  font-size: 32px;
  color: #fff;
  transition: transform 0.4s ease, color 0.4s ease;
}
.github-icon:hover {
  transform: scale(1.2);
  transform: scale(1.25) rotate(6deg);
 
} 
.text4 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
 font-weight: bold;
  color: #9fbfc9;
  transition: all 0.6s ease;
  text-align: center;
  margin-top: 50px;
}





